<section class="section-cards">
  <!-- Seraphina -->
  <main>
    <img src="/images/New/Plants/plant_01.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Seraphina
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Seraphina">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Atlas -->
  <main>
    <img src="/images/New/Plants/plant_03.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Atlas
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Atlas">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Luna -->
  <main>
    <img src="/images/New/Plants/plant_06.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Luna
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Luna">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Ember -->
  <main>
    <img src="/images/New/Plants/plant_08.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Ember
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Ember">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Nimbus -->
  <main>
    <img src="/images/New/Plants/plant_10.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Nimbus
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Nimbus">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>

  <!-- Orion (TODO: fix detail picture size)-->
  <main>
    <img src="/images/New/Plants/plant_12.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Orion
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Orion">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Blossom -->
  <main>
    <img src="/images/New/Plants/plant_14.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Blossom
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Blossom">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Zanith (TODO: fix detail picture size)-->
  <main>
    <img src="/images/New/Plants/plant_17.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Zanith
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Zanith">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Ivy (TOOD: fix detail picture size)-->
  <main>
    <img src="/images/New/Plants/plant_19.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Ivy
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Ivy">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Aurora -->
  <main>
    <img src="/images/New/Plants/plant_20.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Aurora
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Aurora">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Sylvan -->
  <main>
    <img src="/images/New/Plants/plant_22.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Sylvan
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Sylvan">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Nova -->
  <main>
    <img src="/images/New/Plants/plant_23.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Nova
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Nova">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Wiliow -->
  <main>
    <img src="/images/New/Plants/plant_26.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Willow
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Willow">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Echo -->
  <main>
    <img src="/images/New/Plants/plant_29.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Echo
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Echo">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Celeste -->
  <main>
    <img src="/images/New/Plants/plant_33.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Celeste
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Celeste">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Zephyr (TOOD: fix detail picture size) -->
  <main>
    <img src="/images/New/Plants/plant_31.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Zephyr
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Zephyr">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Solstice (TOOD: fix detail picture size)-->
  <main>
    <img src="/images/New/Plants/plant_32.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Solstice
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Solstice">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Aspen -->
  <main>
    <img src="/images/New/Plants/plant_34.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Aspen
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Aspen">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <!-- Amethyst -->
  <main>
    <img src="/images/New/Plants/plant_35.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Amethyst
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/Amethyst">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
  <main>
    <img src="/images/New/Plants/corn.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
      Kernel Komedian
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/corn">
        <span>Details</span></a
      >
      <h4>price: 20$</h4>
    </span>
  </main>
</section>

<style>
  .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  main {
    width: 320px;
    height: 360px;
    border-radius: 8px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 13, 13, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  main h2,
  h4 {
    text-align: center;
    color: #4b3832;
  }
  main p {
    font-size: 13px;
    max-width: 310px;
    text-align: center;
    color: #4b3832;
  }

  main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  main img {
    width: 100%;
    height: 210px;
    border-radius: 8px;
  }

  main span {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .button {
    --color: #005d5d;
    width: 65px;
    height: 28px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, #93e9be, green);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 330px) {
    main {
      width: 300px;
    }
  }
</style>
